python-dateutil
setuptools
selenium
fets
scikit-learn
enlighten
mlflow
gputil
mergedeep
joblib
click
versioneer
holoviews
bokeh
pandas
numpy
matplotlib
scipy
tabulate
jupyter
graphviz
statsmodels
plotly
pyecharts